@charset "UTF-8";

body {
  background-color: #87cefa;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: #1e90ff;
  color: #0000cd;
  font-size: 30px;
}

h2 {
  color: #8b0000;
}

p {
  font-size: 20px;
}