body {
  background-color: #d3d3d3;
  font-family: Arial, Helvetica, sans-serif;
  
}

.verde {
  background-color: #90ef91;
  color: #016400;
  font-family: Arial, Helvetica, sans-serif;
  
}

.amar {
  background-color: #ffffe0;
  color: #cd853f;
  font-family: Arial, Helvetica, sans-serif;
  
}
