@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafad2;
  font-size: 20px;
}

h1 {
  color: #800000;
  background-color: #daa520;
  
}

h2 {
  color: #8b0000;
}

p {
  text-align: justify;
}
