#container {
  height: 97vh;
  background-color: black;
  background-image: url(imagens/espaco.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#conteudo {
  height: 50vh;
  width: 50vh;
  background-image: url(imagens/astronauta.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
